# Continuous Integration (CI)

name: CI
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install absl-py
      - name: Cache bazel
        uses: actions/cache@v3
        env:
          cache-name: bazel-cache
        with:
          path: |
            ~/.cache/bazelisk
            ~/.cache/bazel
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ github.ref }}
          restore-keys: ${{ runner.os }}-${{ env.cache-name }}-development
      - uses: actions/checkout@v3
      - name: Build
        run: bazel build //...
      - name: Test Checker
        run: bazel test --test_output=errors //...
      - name: Checker
        run: bazel-bin/checker/ee_stac_check
