# Continuous Integration (CI)

name: CI
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install absl-py
      - name: Debug Python environment
        run: |
          pip list
          echo $PYTHONPATH
          python -c "import sys; print(sys.path)"          
      - name: Cache bazel
        uses: actions/cache@v5
        env:
          cache-name: bazel-cache
        with:
          path: |
            ~/.cache/bazelisk
            ~/.cache/bazel
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ github.ref }}
          restore-keys: ${{ runner.os }}-${{ env.cache-name }}-development
      - uses: actions/checkout@v6
      - name: Build
        run: bazel build  --define jsonnet_port=cpp //...
      - name: Test Checker
        run: bazel test  --define jsonnet_port=cpp --test_output=errors //...
      - name: Checker
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Required for GitHub API
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}      # Required for gh CLI
        run: bazel-bin/checker/ee_stac_check
