name: CI
on: 
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install dependencies
        run: pip install absl-py
        
      - name: Cache bazel
        uses: actions/cache@v3
        env:
          cache-name: bazel-cache
        with:
          path: |
            ~/.cache/bazelisk
            ~/.cache/bazel
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ github.ref }}
          restore-keys: ${{ runner.os }}-${{ env.cache-name }}-development
          
      - name: Build
        run: bazel build --define jsonnet_port=cpp //...
        
      - name: Test Checker
        run: bazel test --define jsonnet_port=cpp --test_output=errors //...
        
      - name: Checker
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bazel-bin/checker/ee_stac_check
